.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  width: 350px;
  margin-bottom: 150px;
}

.taxi {
  margin-bottom: 80px;
}

.btn {
  margin: 8px;
  width: 300px;
  height: 55px;
  border-radius: 20px;
  background: #9D61FE;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.marker {
  height: 38px;
  margin-right: 10px;
}

.title2 {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.start {
  width: 300px;
  height: 56px;
  border-radius: 13px;
  background: #F5F5F5;
  margin-bottom: 40px;
}

.m {
  height: 100px;
}
.m2 {
  height: 40px;
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 40;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.183); */
  background: rgba(255, 255, 255, 0.122);
  backdrop-filter: blur(2px);
  z-index: 40;

  animation: blur .5s ease-in-out 0 1 forwards normal;
}


.window {
  z-index: 50 ;
  width: 100vw;
  height: 479px;
  background: #ECE0FF;
  border-radius: 20px 20px 0 0;
  /* border-top: solid 4px rgba(200, 200, 200, 0.193);
  border-left: solid 4px rgba(200, 200, 200, 0.193);
  border-right: solid 4px rgba(200, 200, 200, 0.193); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: up .5s ease-in-out 0 1 forwards normal;
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

.menu {
  width: 362px;
  height: 323px;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu > .contain {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.menu > .contain > .text {
  font-weight: 700;
  font-size: 20px;
}

.colored {
  font-weight: 900;
  font-size: 24px;
  color: hsl(263, 99%, 69%);
}
.red {
  width: 300px;
  color: #FF4D4D;
  margin-top: -30px;
}

.none {
  display: none;
}

@keyframes up {
  from {
    transform: translateY(479px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}