.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fade 0.5s ease-in-out 0ms forwards 1;
}

.title {
  font-size: 24px;
  color: #9D61FE;
  font-weight: 700;
  margin-bottom: 30px;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 50px;
}

.now {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: solid 6px #9D61FE;
  color: #9D61FE;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9D61FE;
  border: solid 6px #9D61FE;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: next 0.5s ease-in-out 0ms forwards 1;
}

.border {
  z-index: -1;
  margin-left: 10px;
  width: 250px;
  height: 6px;
  background: #9D61FE;
  position: absolute;
}

.el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag {
  width: 70px;
  font-size: 16px;
  font-weight: 600;
}

.act {
  animation: fade 0.5s ease-in-out 0ms forwards 1;
}

.check {
  display: flex;
  align-items: center;
  margin: 5px;
}

.checkbox {
  margin-right: 12px;
}

.checkbox input {
  display: none;
}

.checkbox_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #F5F5F5;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.checkbox_icon::before, .checkbox_icon::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 0;
  border-radius: 20px;
  background-color: #9D61FE;
  position: absolute;
  transform-origin: left top;
  margin-top: 5px;
}

.checkbox_icon::before {
  top: 9px;
  left: 2px;
  transform: rotate(-45deg);
}

.checkbox_icon::after {
  top: 16px; 
  left: 9px;
  transform: rotate(-135deg);
}

.checkbox input:checked + .checkbox_icon::before {
  height: 10px;
  transition: all 0.15s ease;
}

.checkbox input:checked + .checkbox_icon::after {
  height: 20px;
  transition: all 0.15s ease 0.15s;
}

.empty {
  margin-top: 50px;
}

.btn {
  margin-top: 50px;
}

.contain {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sinput {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #F5F5F5;
  margin: 4px;
  padding-left: 20px;
}

@keyframes next {
  from {
    background: white;
  }

  to {
    background: #9D61FE;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
